
html, body{
	height: 100%;
    
}

body{
      
//    background-image: radial-gradient(circle farthest-corner at center, lighten(@yellow, 40%) 0%, @yellow 80%);
//    background: @gray-lighter;
    & > .container{
        padding: 0;
    }
}

.content-wrapper{
    background: @white;
    padding: 15px;
}

.footer{
    background: @gray-light;
    padding: 20px 0;
    color: @white;
}

.row{
   /* margin-top: 50px;
    margin-bottom: 50px;
    */
}
.m-t-40{
    margin-top: 42px;
}
.bold{
    font-weight: @font-bold;
}
.section{
    padding:150px 0px 10px 0px;
}
.list-style {
    li{
        border-bottom: 1px solid lighten(@gray-base, 80%);
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        .list-title{
            margin-bottom: 10px;
            h1,h2,h3,h4,h5,h6{
                margin: 3px;
            }
        }
        .text-success{
            margin-bottom: 10px;
            display: block;
        }
        &:before{
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            content: "\e080";
            overflow: auto;
              margin: auto;
              position: absolute;
              top: 0; bottom: 0; right: 0;
            font-size: 21px;
            color: #ccc;
            width:40px;
            height: 40px;
        
        }
    }
    
}


