
html, body{
	height: 100%;
    
}

body{
      
//    background-image: radial-gradient(circle farthest-corner at center, lighten(@yellow, 40%) 0%, @yellow 80%);
//    background: @gray-lighter;
    & > .container{
        padding: 0;
    }
}

.content-wrapper{
    background: @white;
    padding: 15px;
}

.footer{
    background: @gray-light;
    padding: 20px 0;
    color: @white;
}

.row{
   /* margin-top: 50px;
    margin-bottom: 50px;
    */
}
.m-t-40{
    margin-top: 42px;
}
.bold{
    font-weight: @font-bold;
}
.section{
    padding:150px 0px 10px 0px;
}