#xww-generate-xframe{
	padding-top:30px;
}

.xww-cats-wrapper{
height: 350px;
overflow: auto;
width: 300px;
padding: 5px;
border: 1px solid #CCC;
}

select#xww-iframe-sizes{
	width:130px;
}
textarea#xww-xframe-code{
margin: 1px;
width: 310px;
height: 110px;
resize: vertical;
}

ul.xww-cats li {

}
ul.xww-cats li ul.children {
margin: 0 0 0 5px;
border-left: 1px solid #ccc;
}
ul.xww-cats li ul.children li:before {
content: '\2014';
color: #ccc;
display: inline;
margin: 0 5px 0 0;
}

.icon-iframe{
	background-image:url('../img/iframe-icon-single-32.png');
	background-repeat:no-repeat;
	width:32px;
	height:32px;
	float:left;
	margin: 7px;
}

#category-1{
	display:none;
}